<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div style= "text-align:center">
  <div class="field">
<br>
    <p style="font-size:50px;padding-bottom:30px;">Topic of the Poll</p>
    <%= f.text_field :issue %><br>
  </div>
  <div class="actions">
  </div>
  <div style ="padding-top:10px;padding-right:5px;">
    <%= f.submit %>
  </div>
  </div>
<% end %>
