<h1>Listing polls</h1>

<table>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Dtime</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.issue %></td>
        <td><%= poll.dtime %></td>
        <td><%= poll.upvotes %>
          <%= link_to "Upvote", increase_polls_path(:id => poll.id) %>
        </td>
        <td><%= poll.downvotes %>
         <%= link_to "Downvote", decrease_polls_path(:id => poll.id) %>
        <td><%= link_to 'Show', poll %></td>
        <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
        <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll', new_poll_path %>
