<h1 style = "padding-top:40px;"> </h1>
<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <div id="headerwrap">
      <div class="container">
      <div class="row">
        <div class="col-lg-7 col-lg-offset-2">
          <div style="font-align:center">
            <h1>Check out all the polls here.</h1>
            <h5>And vote on some, if you like.</h5>      
          </div>
      </div>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /headerwrap -->
    <% @polls.each do |poll| %>
      <tr>
    
      
      <div style="text-align:center;">
        <p style="padding-top:30px;font-size:60px;"><%= poll.issue %></p>
        <p style="font-size:9px;">-<%= poll.dtime %></p>
      </div>
      <div class = "jrender" id="poll_<%=poll.id%>">
        <%= render(poll) %>
      </div>
         
        <p style="float:right;"><%= link_to 'Delete', poll, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
      </tr>
      <div class="container">
      <div class="row centered">
        <div class ="col-md-6">
          <div style ="border-bottom: 5px solid blue;
            margin-bottom: 25px;padding-top:50px;padding-botton:1000px;"></div>
          </div>
          <div class = "col-md-6">

            <div style ="border-bottom: 5px solid orange;
            margin-bottom: 25px;padding-top:50px;padding-botton:1000px;">
        </div>
      </div>
    </div>
    <% end %>
  </tbody>
</table>

<br>


